.login {
  color: tomato;
  margin: auto;
  /* display: grid; */
  /* gap: 12px;
  flex-direction: column;
  justify-content: center; */
  width: 100%;
  max-width: fit-content;
}

.login__root {
  width: auto;
}

.mt {
  margin-top: 16px;
}
